<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_ILibrary">
                    <reliableSession inactivityTimeout="00:15:00" enabled="true" />
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9000/service/library"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_ILibrary"
                contract="ServiceReference1.ILibrary" name="NetTcpBinding_ILibrary" />
        </client>
    </system.serviceModel>
</configuration>