<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="netTcp">
          <serviceMetadata httpGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="FileWriterService.FileWriterService"
               behaviorConfiguration="netTcp">
        <endpoint binding="netTcpBinding"
                  address="wh"
                  bindingConfiguration="EndPointConfiguration"
                  contract="FileWriterService.IService"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9000/service" />
            <add baseAddress="http://localhost:8000/service"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="EndPointConfiguration" sendTimeout="00:01:00">
          <security mode="None" />
          <reliableSession enabled="true" inactivityTimeout="00:15:00"/>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  
  <!--<appsettings>
    <add key="aspnet:usetaskfriendlysynchronizationcontext" value="true"/>
  </appsettings>
  <system.web>
    <compilation debug="true" targetframework="4.5.2"/>
    <httpruntime targetframework="4.5.2"/>
    <httpmodules>
      <add name="applicationinsightswebtracking" type="microsoft.applicationinsights.web.applicationinsightshttpmodule, microsoft.ai.web"/>
    </httpmodules>
  </system.web>
  <system.servicemodel>
    <behaviors>
      <servicebehaviors>
        <behavior>
          чтобы избежать раскрытия метаданных, до развертывания задайте следующим параметрам значение "false". 
          <servicemetadata httpgetenabled="true" httpsgetenabled="true"/>
           чтобы при сбое получать подробные сведения об исключении для целей отладки, установите для нижеприведенного параметра значение true.  перед развертыванием установите значение false, чтобы избежать раскрытия информации об исключении 
          <servicedebug includeexceptiondetailinfaults="false"/>
        </behavior>
      </servicebehaviors>
    </behaviors>
    <protocolmapping>
        <add binding="basichttpsbinding" scheme="https"/>
    </protocolmapping>    
    <servicehostingenvironment aspnetcompatibilityenabled="true" multiplesitebindingsenabled="true"/>
  </system.servicemodel>
  <system.webserver>
    <modules runallmanagedmodulesforallrequests="true">
      <remove name="applicationinsightswebtracking"/>
      <add name="applicationinsightswebtracking" type="microsoft.applicationinsights.web.applicationinsightshttpmodule, microsoft.ai.web"
        precondition="managedhandler"/>
    </modules>
    
        для просмотра корневого каталога веб-приложения во время отладки установите значение true.
        перед развертыванием установите значение false, чтобы избежать раскрытия сведений в папке веб-приложения.
      
    <directorybrowse enabled="true"/>
    <validation validateintegratedmodeconfiguration="false"/>
  </system.webserver>-->

</configuration>
