<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="netTcp">
          <serviceMetadata httpGetEnabled="True" />
          <serviceDebug includeExceptionDetailInFaults="True" />
          <serviceThrottling maxConcurrentCalls="40" maxConcurrentSessions="40" /> 
          <!--количество параллельных сеансов. количество параллельных вызовов.-->
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <services>
      <service name="FileWriterService.FileWriterService" behaviorConfiguration="netTcp">
        <endpoint binding="netTcpBinding"
                  address="wh"
                  bindingConfiguration="EndPointConfiguration"
                  contract="FileWriterService.IService"/>
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9000/service" />
            <add baseAddress="http://localhost:8000/service"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    
    <bindings>
      <netTcpBinding>
        <binding name="EndPointConfiguration" sendTimeout="00:01:00">
          <security mode="None" />
          <reliableSession enabled="true" inactivityTimeout="00:5:00"/>
        </binding>
      </netTcpBinding>
    </bindings>
  
  </system.serviceModel>
</configuration>
